// =========================
// Variables
// =========================

// Colors
$color-primary-1: #F2A32F;
$color-primary-2: #319177;
$color-primary-3: #df4bfb;
$color-primary-bootstrap: #0d6fff;
$color-dark: #000000;
$color-light: #cfcfcf;
$color-grey: #666;
$color-white:#ffff;

// Fonts
$font-primary-1: 'Nunito Sans', sans-serif;
$font-primary-2: 'Carattere';
$font-primary-3: 'Fira Sans', sans-serif;

// Effects
$shadow-text: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$shadow-box: 0 8px 20px rgba(0, 0, 0, 0.2);
